.landing-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

mat-card {
  width: 60%;
  max-width: 400px;
  background-color: #424242;
  border-radius: 4px;
  padding: 16px;
  margin-top: 80px;
}


.lp-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}


.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.lp-btns button {
  background-color: transparent;
  color: #90caf9;
  transition: all 0.3s ease;
}

.lp-btns button:hover {
  background-color: rgba(144, 202, 249, 0.1);
  color: #42a5f5;
  cursor: pointer;
}

.lp-btns button:active {
  background-color: rgba(144, 202, 249, 0.2);
  color: #1e88e5;
}